<<<<<<< HEAD
<h2>Post Title: <%=@post.title%> </h2>
<h2>Post Content: <%=@post.content%> </h2>
<h2>Post Categories: <h2>
  <ul>
    <%@post.categories.each do |category|%>
      <li>  <%= category.name %>  </li>
    <%end%>
  </ul>
=======
#show an existing post
#allow a user to comment on a post through a form


<%= form_for @post do |f| %>
<%binding.pry%>
  <%= f.fields_for :comments, @post.comments.build do |comment| %>
   <%= comment.text_field :content %>
  <% end %>

  <%= f.submit %>
<% end %>
>>>>>>> 6d169f046b620596cd44f51b207a5188d5f3d71b
