
<h2>Post Title: <%=@post.title%> </h2>
<h2>Post Content: <%=@post.content%> </h2>

<h2>Post Categories: <h2>
  <ul>
    <%@post.categories.each do |category|%>
      <li>  <%= category.name %>  </li>
    <%end%>
  </ul>

  <h2>Post Comments: <h2>
    <ul>
      <%@post.comments.each do |comment|%>
        <li>  <%= comment.content %>  </li>
      <%end%>
    </ul>

<%binding.pry%>

    <h2>Users who have commented: <h2>
      <ul>
        <%@post.users.each do |user|%>
          <%= link_to user.username, user_path(user) %>
        <%end%>
      </ul>
